* {background-color: blue;}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.name {
    color: white;
    font-family: "Jokerman";
    margin: auto;
    line-height: 600px;
}

@font-face {
    font-family: "Jokerman";
    src: url(JOKERMAN.TTF);
}